<div class="h-[calc(100vh-100px)] flex flex-col justify-between items-center gap-6 m-auto">
    <h1 class="text-main text-headline-title text-[50px] font-bold">NEWS APP</h1>
    <div class="flex flex-col gap-4">
        <form [formGroup]="login_form" (ngSubmit)="login()">
            <div class="flex flex-col gap-2">
                <label for="email">Email Address</label>
                <input 
                    type="text"
                    id="email"
                    placeholder="enter email address"
                    formControlName="email"
                    autocomplete="email"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label for="password">Password</label>
                <input 
                    type="password"
                    id="password"
                    placeholder="enter password"
                    formControlName="password"
                    autocomplete="current-password"
                />
            </div>
            <Button 
                [disabled]="login_form.invalid || button_disabled"
                type="submit"
                class="w-[300px] m-auto bg-main text-white rounded-[8px] py-2 mt-4"
            >
                {{ button_text}}
            </Button>
        </form>
    </div>
</div>